/* 

Happect web ©2020

Main css file

*/


/* SCCS variables */


$primary-background-color: #231F20;
$primary-text-color: #FBFAF8;
$default-transition-duration: 230ms;
$header-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$triangle-color: #3A3A3A;
/*
GENERAL STYLES
_______________________________
*/
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
}
body {
    background-color: $primary-background-color;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: $primary-text-color;
    overflow-x: hidden;
    box-sizing: border-box;
    animation: fadeInAnimation $header-timing-function 1s;
    animation-fill-mode: forwards; 
}
main {
    position: relative;
}
a {
    text-decoration: none;
    color: $primary-text-color;
}
*:focus, *:hover {
  outline: 0;
  outline: none;
  }
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
}
.main-how-we-work {
    position: relative;
    width: 100%;
    min-height: 80vh;
}
.main-our-skills {
    position: relative;
    width: 100%;
    min-height: 90vh;
    height: 100vh;
}
.main-our-skills {
    scroll-margin-top: 10vh;
}
.main-about-us {
    position: relative;
    width: 100%;
    min-height: 90vh;
    height: 90vh;
    scroll-margin-top: 5vh;
}
.text-bold {
    font-weight: 700;
    padding: 0 3px;
}
.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.no-header {
  opacity: 0;
  display: flex;
  position: fixed;
  width: 100%;
  background: $triangle-color;
  z-index: 10;
  padding: 20px 30px 20px 30px;
  max-width: 100%;
  transition: all $default-transition-duration $header-timing-function;
  * {
    display: none;
  }
}
/*
TRIANGLES STYLES
_______________________________
*/
.triangle {
    width: 100%;
    height: 100%;
    background: $triangle-color;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 60%);
    z-index: -10;
}
.triangle-shadow {
    width: 100%;
    height: calc(100% - 10px);
    background: black;
    position: absolute;
    top: 9px;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 60%);
    z-index: -12;
    opacity: .5;
}
.triangle-2 {
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 80%);
    z-index: -15;
}
.triangle-2-shadow {
    width: 100%;
    height: calc(100% - 10px);
    background: black;
    position: absolute;
    top: 9px;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 80%);
    opacity: .5;
    z-index: -17;
}
.main-about-us {
    .triangle, .triangle-shadow, .triangle-2, .triangle-2-shadow {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
    .triangle-shadow, .triangle-2-shadow {
        opacity: .3;
    }
}
.main-our-skills {
    .triangle, .triangle-shadow, .triangle-2, .triangle-2-shadow {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(180deg);
        height: 100vh;
    }
}
.main-how-we-work {
    .triangle, .triangle-shadow {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 60%);
    }
    .triangle-2, .triangle-2-shadow {
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 0px 100%);
    }
    .triangle, .triangle-shadow, .triangle-2, .triangle-2-shadow {
        position: absolute;
        top: 0;
        height: 100%;
    }
}
/*
HEADER STYLES
_______________________________
*/
.happect-header {
    display: flex;
    position: fixed;
    width: 100%;
    background: $triangle-color;
    z-index: 10;
    padding: 20px 30px 20px 30px;
    max-width: 100%;
    height: 5vh;
    transition: all $default-transition-duration $header-timing-function;
    .happect-logo-area {
        display: flex;
        align-items: center;
        flex: 3;
    }
    .happect-nav {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: space-evenly;
        a {
                position: relative;
                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background: $primary-text-color;
                    bottom: -7px;
                    opacity: 0;
                    transition-duration: $default-transition-duration;
                    transition-timing-function: $header-timing-function;
                }
                &:hover {
                    &:before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: $primary-text-color;
                        bottom: -3px;
                        opacity: 1;
                        transition-duration: $default-transition-duration;
                        transition-timing-function: $header-timing-function;
                    }
                }
        }
    }
}
/*
LANDING STYLES
_______________________________
*/
.main-landing {
    width: 100%;
    position: absolute; 
    top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 64px;
        font-weight: 500;
        text-align: center;
    }
    .happect-chain {
        width: 90%;
        padding-left: 45px;
        margin: 75px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h2 {
            font-size: 36px;
            font-weight: 100;
            font-style: italic;
        }
    }
    .land-button {
        position: relative;
        font-family: 'Open sans';
        background: none;
        padding: 5px 50px;
        border: 2px solid $primary-text-color;
        border-radius: 10px;
        color: $primary-text-color;
        font-size: 24px;
        cursor: pointer;
        transition-duration: $default-transition-duration;
        -webkit-box-shadow: -1px 10px 16px -6px rgba(0,0,0,0.74);
        -moz-box-shadow: -1px 10px 16px -6px rgba(0,0,0,0.74);
        box-shadow: -1px 10px 16px -6px rgba(0,0,0,0.74);
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 5%;
            background: $primary-text-color;
            bottom: 0;
            left: 0;
            border-radius: 0 0 7px 7px;
            transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
            z-index: -9;
        }
        &:hover, &:focus {
            color: $primary-background-color;
            z-index: 10;
            font-weight: bold;
            padding: 7px 60px;
            -webkit-box-shadow: -1px 13px 45px -6px rgba(0,0,0,0.74);
            -moz-box-shadow: -1px 13px 45px -6px rgba(0,0,0,0.74);
            box-shadow: -1px 13px 45px -6px rgba(0,0,0,0.74);
            &:before {
                border-radius: 7px;
                height: 100%;
                transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
            }
        }
    }
}
/*
CONTACT STYLES
_______________________________
*/
.contact-button-wrapper {
    z-index: 999;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: #364D7D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    svg {
        width: 35px;
        height: 35px;
        transition: all $default-transition-duration;
        animation: slide-in-blurred-bottom-small $default-transition-duration ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .close-form {
        display: none;
        user-select: none;
        font-size: 36px;
        transition: all $default-transition-duration;
        animation: slide-in-blurred-top-small $default-transition-duration ease;
    }
}
.contacts {
    .contact-form-wrapper-hide {
        opacity: 0;
        display: none;
        transform: translateY(-10px);
        position: fixed;
        right: 50px;
        bottom: 150px;
        padding: 15px;
        max-height: 70vh;
        width: 500px;
        background: $primary-background-color;
        border: 2px double $primary-text-color;
        border-radius: 10px 0 0 10px;
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
        transition: all $default-transition-duration;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    .contact-form-wrapper-show {
        overflow-y: scroll;
        animation: puff-in-center $default-transition-duration ease;
        position: fixed;
        opacity: 1;
        display: block;
        right: 50px;
        bottom: 150px;
        padding: 15px;
        max-height: 70vh;
        width: 500px;
        background: $primary-background-color;
        border: 2px double $primary-text-color;
        border-radius: 10px 0 0 10px;
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
        transition: all $default-transition-duration;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    .contact-form-info {
        margin-bottom: 30px;
    }
    .contact-form {
        input {
            background: none;
            border: none;
            border-bottom: 3px solid rgb(99, 87, 90);
            padding: 10px 0;
            color: $primary-text-color;
            transition: all $default-transition-duration ease;
            font-size: 20px;
        }
        input, textarea {
            &:focus {
                border-bottom: 3px solid rgb(199, 187, 190);                
            }
        }
        .input-wrapper {
            position: relative;
        }
        .contact-float {
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 15px;
            transition: 0.2s ease all;
        }
        #contact-name:focus ~ .contact-name-float,
        #contact-name:not(:focus):valid ~ .contact-name-float {
            top: -10px;
            font-size: 14px;
            opacity: .6;
        }
        .answer-question {
            margin: 20px 0;
        }
        .where-to-answer {
            padding: 10px 0;
            display: flex;
            justify-content: space-evenly;
            input {
                display: none;
                opacity: 0;
                cursor: pointer;
                z-index: 99;
            }
            svg {
                width: 30px;
                height: 30px;
                transition: all $default-transition-duration ease;
                cursor: pointer;
            }
            input:checked ~ .radio-mark svg {
                width: 35px;
                height: 35px;
                padding-bottom: 5px;
                border-bottom: 1px solid $primary-text-color;
                transform: translateY(-5px);
                transition: all $default-transition-duration ease;
            }
        }
        #client-telegram, #client-viber {
            display: none;
            &::placeholder {
                font-size: 16px;
                opacity: .8;
                color: $primary-text-color;
            }
        }
        #client-email {
            &::placeholder {
                font-size: 16px;
                opacity: .8;
                color: $primary-text-color;
            }           
        }
        #contact-message {
            margin-top: 50px;
            background: none;
            border: none;
            border-bottom: 3px solid rgb(99, 87, 90);
            padding: 10px 0;
            color: $primary-text-color;
            font-size: 20px;
            width: 100%;
            resize: vertical;
            height: 100px;
            max-height: 200px;
            min-height: 50px;
            line-height: 1.01em;
            letter-spacing: 0.04em;
            transition: all $default-transition-duration ease;            
            &:focus {
                border-bottom: 3px solid rgb(199, 187, 190);   
            }
        }
        #contact-submit {
            margin-top: 10px;
            position: absolute;
            bottom: 10px;
            width: calc(100% - 30px);
            cursor: pointer;
            padding: 5px;
            border-top: 1px solid rgb(99, 87, 90);
            border-bottom: 1px solid rgb(99, 87, 90);
            transition: all $default-transition-duration ease;            
            &:focus, &:hover {
                border-bottom: 3px solid rgb(199, 187, 190);   
                border-top: 3px solid rgb(199, 187, 190); 
            }
        }
    }
}

/*
LANGUAGE SWITCHER STYLES
_______________________________
*/
.language-switcher-wrapper {
    position: fixed;
    left: 50px;
    bottom: 50px;
    // z-index: -2;
    h2 {
        font-weight: 300;
    }
    .chosen-language {
        padding-top: 10px;
        user-select: none;
        cursor: pointer;
        &:before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            background: $primary-text-color;
            bottom: -7px;
            opacity: 0;
            transition-duration: $default-transition-duration;
            transition-timing-function: $header-timing-function;
        }
        &:hover, &:focus {
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: $primary-text-color;
                bottom: -3px;
                opacity: 1;
                transition-duration: $default-transition-duration;
                transition-timing-function: $header-timing-function;
            }
        }
    }
    .language-list-hidden {
        display: none;
        opacity: 0;
            transition: all $default-transition-duration ease;
            animation: slide-in-blurred-bottom-small $default-transition-duration ease;
        h2 {
            padding: 10px 0;
        }
    }
    .language-list-shown {
        display: block;
            transition: all $default-transition-duration ease;
            animation: slide-in-blurred-bottom-small $default-transition-duration ease;
        h2 {
            padding: 10px 0;
        }
    }
    .language-list-hidden, .language-list-shown {
        h2 {
            font-size: 20px;
            opacity: 0.7;
            transition: all $default-transition-duration ease;
            &:hover {
                opacity: 1;
            }
        }
    }
}
/*
ABOUT US STYLES 
_______________________________
*/
.about-us-text-wrapper {
    width: 40%;
    position: absolute; 
    top: 300px;
    left: 20%;
    h1 {
        font-size: 64px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    p {
        line-height: 1.6em;
        font-size: 24px;
        &.passion {
            padding-top: 10px;
        }
    }
}

/*
OUR SKILLS STYLES 
_______________________________
*/
.main-our-skills {
    h1 {
        font-size: 64px;
        margin: 50px 0;
        text-align: center;
    }
}
.skills-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    .skills-design, .skills-code, .skills-cms {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .skill-title-wrapper {
            position: absolute;
            h2 {
                text-transform: uppercase;
                font-size: 100px;
                opacity: .2;
                letter-spacing: 1.5em;
                text-indent: 1.5em;
            }
        }
        .skills {
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
            width: 80%;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            text-align: center;
        }
    }
}

/*
HOW WE WORK STYLES 
_______________________________
*/
.main-how-we-work {
    margin-top: 30px;
    scroll-margin-top: 10vh;
    h1 {
        font-size: 64px;
        padding: 30px 0;
        text-align: center;
    }
    h3 {
        font-weight: 200;
        text-align: center;
        &:before {
          content: 'Hover ';
        }
    }
    .work-grid {
        width: 70%;
        height: 80vh;
        margin-left: 15%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        div {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 36px;
            user-select: none;
            .number {
                position: absolute;
                bottom: 10px;
                left: 10px;
                opacity: 0.5;
                transition: all $default-transition-duration ease;
            }
            .info {
                user-select: none;
                display: flex;
                text-align: center;
                font-size: 24px;
                opacity: 0;
                position: absolute;
                transition: all $default-transition-duration ease;
                bottom: 0;
                transform: translateY(10px);
            }
            p {
                transition: all $default-transition-duration ease;
                opacity: 1;
                align-self: flex-end;
            }
            &:hover { 
                .info {
                    // animation: slit-in-diagonal-2  600ms cubic-bezier(0,1.66,1,-0.49);
                    animation: slide-in-bck-center 600ms cubic-bezier(0,1.66,1,-0.49);
                    display: flex;
                    opacity: 1;
                    align-items: center;
                    justify-content: center;
                    transform: scale(1.2);
                    font-size: 24px;
                    cursor: help;
                }
                p {
                    opacity: 0;
                    position: absolute;
                    transition: all $default-transition-duration ease;
                    transform: translateY(-50px);
                }
                .number {
                    opacity: 0.7;
                    transition: all $default-transition-duration ease;
                }
                svg {
                  opacity: 0.7;
                  transition: all $default-transition-duration ease;
                }
            }
            svg {
                position: absolute;
                z-index: -10;
                width: 100%;
            }
        }
    }
}
/*
MAIN FORM
_______________________________
*/
.form-wrapper {
  .answer-question {
    font-size: 24px;
    font-weight: 200;
  }
  h1 {
    text-align: center;
    margin: 75px 0;
    font-size: 64px;
  }
  h3 {
    font-weight: 200;
    padding: 10px 0;
    letter-spacing: 0.1em;
  }
  .label-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .radio-container {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    font-size: 18px;
    letter-spacing: 0.4em;
    .line {
      position: absolute;
      bottom: -5px;
      width: 100%;
      border-bottom: 3px solid rgb(99, 87, 90);
      transition: all $default-transition-duration ease;
    }
    input:checked ~ .line {
      position: absolute;
      bottom: -3px;
      width: 100%;
      border-bottom: 3px solid rgb(199, 187, 190);   
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
    margin-top: 10vh;
    width: 100%;
    .main-form {
      width: 70%;
      margin-left: 15%;
      .form-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .col-1, .col-2 {
          width: 45%;
        }
      }
      #main-contact-submit {
        margin-top: 50px;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border-top: 1px solid rgb(99, 87, 90);
        border-bottom: 1px solid rgb(99, 87, 90);
        transition: all $default-transition-duration ease;            
        &:focus, &:hover {
            border-bottom: 3px solid rgb(199, 187, 190);   
            border-top: 3px solid rgb(199, 187, 190); 
        }
      }
      input {
        background: none;
        border: none;
        width: 100%;
        border-bottom: 3px solid rgb(99, 87, 90);
        padding: 10px 0;
        color: $primary-text-color;
        transition: all $default-transition-duration ease;
        font-size: 20px;
    }
    #project-info {
      background: none;
      border: none;
      width: 100%;
      border-bottom: 3px solid rgb(99, 87, 90);
      color: $primary-text-color;
      transition: all $default-transition-duration ease;
      font-size: 20px;
      height: 100%;
      resize: vertical;
      max-height: 50vh;
      min-height: 5vh;
      &:focus {
        border-bottom: 3px solid rgb(199, 187, 190);   
    }
    }
    input, textarea {
        &:focus {
            border-bottom: 3px solid rgb(199, 187, 190);                
        }
    }
    .input-wrapper {
        position: relative;
    }
    .contact-float {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 15px;
        transition: 0.2s ease all;
    }
    #main-contact-name:focus ~ .contact-name-float,
    #main-contact-name:not(:focus):valid ~ .contact-name-float {
        top: -10px;
        font-size: 14px;
        opacity: .6;
    }
    .answer-question {
        margin: 20px 0;
    }
    .where-to-answer {
        padding: 50px 0;
        display: flex;
        justify-content: space-evenly;
        input {
            display: none;
            opacity: 0;
            cursor: pointer;
            z-index: 99;
        }
        svg {
            width: 30px;
            height: 30px;
            transition: all $default-transition-duration ease;
            cursor: pointer;
        }
        input:checked ~ .radio-mark svg {
            width: 35px;
            height: 35px;
            padding-bottom: 5px;
            border-bottom: 1px solid $primary-text-color;
            transform: translateY(-5px);
            transition: all $default-transition-duration ease;
        }
    }
    #main-client-telegram, #main-client-viber {
        display: none;
        &::placeholder {
            font-size: 16px;
            opacity: .8;
            color: $primary-text-color;
        }
    }
    #main-client-email {
        &::placeholder {
            font-size: 16px;
            opacity: .8;
            color: $primary-text-color;
        }           
    }
    }
}
/*
FOOTER STYLES
_______________________________
*/
.happect-footer {
  margin-top: 10vh;
  width: 100%;
  padding: 50px 0;
  .happect-logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright {
    text-align: center;
    padding: 30px;
    opacity: 0.75;
  }
}
// ! MEDIA QUERIES
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  // contacts 
   .contacts {
     .contact-form-info {
       font-size: 12px;
       margin-bottom: 10px;
     }
    .contact-form-wrapper-hide {
        max-height: 60vh;
        width: 400px;
    }
    .contact-form-wrapper-show {
        max-height: 60vh;
        width: 400px;
    }
    .contact-form {
      .contact-float {
        top: 5px;
        font-size: 16px;
      }
      .answer-question {
        font-size: 12px;
      }
      .where-to-answer {
        label {
          svg {
            width: 20px;

          }
        }
        input:checked ~ .radio-mark {
          svg {
            width: 25px;
          }
        }
      }
      input {
        font-size: 16px;
        padding: 5px 0;
      }
      #contact-message {
        margin-top: 10px;
        max-height: 120px;
      }
    }
}
  // header
  .happect-header {
    justify-content: space-around;
    max-width: calc(100vw - 20px);
    padding: 10px;
    .happect-logo-area {
      flex: 1;
      justify-content: center;
    }
    .happect-nav {
      flex: 2;
    }
  }

  //landing 
  .landing {
    height: 100vh;
  }
  .main-landing {
    top: 100px;
  }
  .main-landing h1 {
    width: 80%;
  }

  // about us 
  .about-us-text-wrapper {
    top: 200px;
    width: 65%;
  }

  // skills 
  .main-our-skills {
    h1 {
      margin: 20px 0;
    }
  }
  .skills-grid {
    .skills-design, .skills-code, .skills-cms {
      .skill-title-wrapper {
          h2 {
              font-size: 65px;
          }
      }
    }
  }
  .skill-title {
    font-size: 75px;
  }
  .main-how-we-work {
    .work-grid {
      width: 80%;
      margin-left: 10%;
      div {
        font-size: 30px;
        svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  // form 
  .form-wrapper {
    .label-container {
      flex-direction: column;
      label {
        margin: 10px 0;
      }
    }
  }


}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    // contacts 
    .contacts {
      .contact-form-info {
        font-size: 12px;
        margin-bottom: 10px;
      }
     .contact-form-wrapper-hide {
         max-height: 70vh;
         width: 400px;
         bottom: 30px;
     }
     .contact-form-wrapper-show {
         max-height: 70vh;
         width: 400px;
         bottom: 30px;

     }
     .contact-form {
       .contact-float {
         top: 5px;
         font-size: 16px;
       }
       .answer-question {
         font-size: 12px;
       }
       .where-to-answer {
         label {
           svg {
             width: 20px;
 
           }
         }
         input:checked ~ .radio-mark {
           svg {
             width: 25px;
           }
         }
       }
       input {
         font-size: 16px;
         padding: 5px 0;
       }
       #contact-message {
         margin-top: 10px;
         max-height: 120px;
       }
     }
 }
  // header
  .happect-header {
    justify-content: space-around;
    max-width: calc(100vw - 20px);
    padding: 10px;
    .happect-logo-area {
      flex: 1;
      justify-content: center;
    }
    .happect-nav {
      flex: 2;
    }
  }

  //landing 
  .landing {
    height: 100vh;
  }
  .main-landing {
    top: 100px;
  }

    // about us 
    .about-us-text-wrapper {
      top: 200px;
      width: 65%;
    }

  // skills 
  .main-our-skills {
    h1 {
      margin: 20px 0;
    }
  }
  .skills-grid {
    .skills-design, .skills-code, .skills-cms {
      .skill-title-wrapper {
          h2 {
              font-size: 50px;
          }
      }
    }
  }

  .main-how-we-work {
    h3 {
      &:before {
        content: 'Click ';
      }
    }
    .work-grid {
      width: 80%;
      margin-left: 10%;
      div {
        font-size: 25px;
        user-select: none;
        svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  // form 
  .form-wrapper {
    
    .label-container {
      flex-direction: column;
      label {
        margin: 10px 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contact-button-wrapper {
    z-index: 999;
  }
  .contacts {
    .contact-form-info {
      font-size: 16px;
    }
   .contact-form-wrapper-hide {
       height: 100vh;
       width: 100vw;
       left: 0;
       border: none;
       border-radius: 0;
       right: 0;
       bottom: 0;
       padding: 5px;
   }
   .contact-form-wrapper-show {
      height: 100vh;
      border-radius: 0;
      width: 100vw;
      left: 0;
       border: none;
       right: 0;
       padding: 5px;
       bottom: 0;
   }
   .contact-form {
     .answer-question {
       font-size: 16px;
     }
     #contact-message {
       margin-top: 20px;
       max-height: 150px;
     }
   }
}
  // header
  .happect-header {
    justify-content: space-evenly;
    align-content: center;
    max-width: calc(100vw - 20px);
    padding: 10px;
    .happect-logo-area {
      justify-content: center;
      flex: 0;
    }
    .happect-nav {
      flex: 0;
      .header-link {
        display: none;
      }
    }
    .happect-nav-shown {
      display: flex;
      animation: fadeInAnimation 1s ease;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: calc(95vh - 20px);
      width: 100%;
      background: $primary-background-color;
      position: absolute;
      left: 0;
      top: calc(5vh + 20px);
    }
  }

  //landing 

  .main-landing {
    top: 100px;
    h1 {
      font-size: 36px;
    }
    .happect-chain {
      padding-left: 0;
     h2 {
        font-size: 20px;
     }
    }
  }

    // about us 
    .about-us-text-wrapper {
      top: 200px;
      width: 80%;
      left: 10%;
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

  // skills 
  .main-our-skills {
    height: auto;
    min-height: 0;
    h1 {
      font-size: 36px;
    }
  }
  .skills-grid {
    .skills-design, .skills-code, .skills-cms {
      border-bottom: 1px solid $primary-text-color;
      margin: 10px 0;
      display: grid;
      grid-template-columns: 40% 60%;
      .skills {
        grid-template-columns: 1fr;
        width: 100%;
        h2 {
          font-size: 24px;
          padding: 10px 0;
        }
      }
      .skill-title-wrapper {
        position: relative;
        // top: 0;
        // left: 50%;
        // transform: translateX(-50%);
          h2 {
              font-size: 20px;
              letter-spacing: 0.5em;
              text-indent: 0.5em;
          }
      }
    }
  }
  .skills-grid {
    .skills-cms {
      border-bottom: 0px solid black !important;
    }
  }

  .main-how-we-work {
    h1 {
      font-size: 36px;
    }
    h3 {
      &:before {
        content: 'Click ';
      }
    }
    height: auto;
    .work-grid {
      height: auto;
      width: 80%;
      margin-left: 10%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      div {
        font-size: 25px;
        width: 200px;
        height: 200px;
        svg {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  // form 
  .form-wrapper {
    h1 {
      font-size: 36px;
    }
    .main-form {
      .answer-question {
        font-size: 16px;
      }
      width: 90%;
      margin-left: 5%;
      .form-content {
        flex-direction: column;
        .col-1, .col-2 {
          width: 100%;
        }
      }
      #project-info {
        margin-top: 50px;
        padding: 10px 0;
        height: 200px;
      }
    }
    .label-container {
      flex-direction: column;
      label {
        margin: 10px 0;
      }
    }
  }
}
@media screen and (max-height: 700px) {
  .contacts {
    .contact-form-info {
      font-size: 12px;
      margin-bottom: 10px;
    }
   .contact-form-wrapper-hide {
       max-height: 80vh;
       width: 400px;
   }
   .contact-form-wrapper-show {
       max-height: 80vh;
       width: 400px;
   }
   .contact-form {
     .contact-float {
       top: 5px;
       font-size: 16px;
     }
     .answer-question {
       font-size: 12px;
     }
     .where-to-answer {
       label {
         svg {
           width: 20px;

         }
       }
       input:checked ~ .radio-mark {
         svg {
           width: 25px;
         }
       }
     }
     input {
       font-size: 16px;
       padding: 5px 0;
     }
     #contact-message {
       margin-top: 10px;
       max-height: 120px;
     }
   }
}
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * animation slit-in-diagonal-2
 * ----------------------------------------
 */
 @-webkit-keyframes slit-in-diagonal-2 {
    0% {
      -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
              transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
              transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes slit-in-diagonal-2 {
    0% {
      -webkit-transform: translateZ(-400px) rotate3d(1, 1, 0, 90deg);
              transform: translateZ(-400px) rotate3d(1, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-80px) rotate3d(1, 1, 0, 87deg);
              transform: translateZ(-80px) rotate3d(1, 1, 0, 87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(50px) scaleY(1.1) scaleX(0.2);
            transform: translateY(50px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom-small {
  0% {
    -webkit-transform: translateY(5px) scaleY(1.1) scaleX(0.2);
            transform: translateY(5px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top-small {
  0% {
    -webkit-transform: translateY(-5px) scaleY(1.1) scaleX(0.2);
            transform: translateY(-5px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * @animation flicker-in-2
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-2 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    10.1% {
      opacity: 1;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    10.2% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    20% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    20.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    30% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    30.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    45% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    45.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    57% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    57.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    65% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    65.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    77% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    77.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    86% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    86.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
  @keyframes flicker-in-2 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    10.1% {
      opacity: 1;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    10.2% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    20% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    20.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    30% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    30.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    45% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    45.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    57% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    57.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    65% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    65.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    77% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    77.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    86% {
      opacity: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    86.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 