/* 

Happect web ©2020

Main css file

*/

// Test comment

/* SCCS variables */


$primary-background-color: #231F20;
$primary-text-color: #FBFAF8;
$default-transition-duration: 230ms;
$header-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);

/*
GENERAL STYLES
_______________________________
*/
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $primary-background-color;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: $primary-text-color;
}
main {
    position: relative;
}
a {
    text-decoration: none;
    color: $primary-text-color;
}
button:focus, a:focus, input:focus, textarea:focus {
    outline: none;
}

/*
HEADER STYLES
_______________________________
*/
.happect-header {
    display: flex;
    margin-top: 20px;
    padding: 0 30px;
    .happect-logo-area {
        display: flex;
        align-items: center;
        flex: 3;
    }
    .happect-nav {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: space-between;
        a {
                position: relative;
                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background: $primary-text-color;
                    bottom: -7px;
                    opacity: 0;
                    transition-duration: $default-transition-duration;
                    transition-timing-function: $header-timing-function;
                }
                &:hover, &:focus {
                    &:before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: $primary-text-color;
                        bottom: -3px;
                        opacity: 1;
                        transition-duration: $default-transition-duration;
                        transition-timing-function: $header-timing-function;
                    }
                }
        }
    }
}
/*
LANDING STYLES
_______________________________
*/
.main-landing {
    width: 40%;
    position: absolute; 
    top: 200px;
    left: 20%;
    h1 {
        font-size: 64px;
        font-weight: 500;
    }
    .happect-chain {
        width: 75%;
        margin: 75px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 36px;
            font-weight: 100;
            font-style: italic;
        }
    }
    .land-button {
        position: relative;
        font-family: 'Open sans';
        background: none;
        padding: 5px 50px;
        text-align: center;
        border: 2px solid $primary-text-color;
        border-radius: 10px;
        color: $primary-text-color;
        font-size: 24px;
        cursor: pointer;
        transition-duration: $default-transition-duration;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 5%;
            background: $primary-text-color;
            bottom: 0;
            left: 0;
            border-radius: 0 0 7px 7px;
            opacity: 0;
            transition-duration: $default-transition-duration;
        }
        &:hover, &:focus {
            &:before {
                height: 7%;
                opacity: 1;
                transition-duration: $default-transition-duration;
            }
        }
    }
}
/*
CONTACT STYLES
_______________________________
*/
.contact-button-wrapper {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: #364D7D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    svg {
        width: 35px;
        height: 35px;
        transition: all $default-transition-duration;
        animation: slide-in-blurred-bottom-small $default-transition-duration ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .close-form {
        display: none;
        font-size: 36px;
        transition: all $default-transition-duration;
        animation: slide-in-blurred-top-small $default-transition-duration ease;
    }
}
.contacts {
    .contact-form-wrapper-hide {
        opacity: 0;
        transform: translateY(-10px);
        position: absolute;
        right: 50px;
        bottom: 150px;
        padding: 15px;
        height: 700px;
        width: 500px;
        background: $primary-background-color;
        border: 2px solid $primary-text-color;
        border-radius: 10px 0 0 10px;
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
        transition: all $default-transition-duration;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    .contact-form-wrapper-show {
        animation: slide-in-blurred-bottom $default-transition-duration ease;
        position: absolute;
        opacity: 1;
        right: 50px;
        bottom: 150px;
        padding: 15px;
        height: 700px;
        width: 500px;
        background: $primary-background-color;
        border: 2px solid $primary-text-color;
        border-radius: 10px 0 0 10px;
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
        transition: all $default-transition-duration;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    .contact-form-info {
        margin-bottom: 30px;
    }
    .contact-form {
        input {
            background: none;
            border: none;
            border-bottom: 3px solid rgb(99, 87, 90);
            padding: 10px 0;
            color: $primary-text-color;
            transition: all $default-transition-duration ease;
            font-size: 20px;
        }
        input, textarea {
            &:focus {
                border-bottom: 3px solid rgb(199, 187, 190);                
            }
        }
        .input-wrapper {
            position: relative;
        }
        .contact-float {
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 15px;
            transition: 0.2s ease all;
        }
        #contact-name:focus ~ .contact-name-float,
        #contact-name:not(:focus):valid ~ .contact-name-float {
            top: -10px;
            font-size: 14px;
            opacity: .6;
        }
        .answer-question {
            margin: 20px 0;
        }
        .where-to-answer {
            padding: 10px 0;
            display: flex;
            justify-content: space-evenly;
            input {
                display: none;
                opacity: 0;
                cursor: pointer;
                z-index: 99;
            }
            svg {
                width: 30px;
                height: 30px;
                transition: all $default-transition-duration ease;
                cursor: pointer;
            }
            input:checked ~ .radio-mark svg {
                width: 35px;
                height: 35px;
                padding-bottom: 5px;
                border-bottom: 1px solid $primary-text-color;
                transform: translateY(-5px);
                transition: all $default-transition-duration ease;
            }
        }
        #client-telegram, #client-viber {
            display: none;
            &::placeholder {
                font-size: 16px;
                opacity: .8;
                color: $primary-text-color;
            }
        }
        #client-email {
            &::placeholder {
                font-size: 16px;
                opacity: .8;
                color: $primary-text-color;
            }           
        }
        #contact-message {
            margin-top: 50px;
            background: none;
            border: none;
            border-bottom: 3px solid rgb(99, 87, 90);
            padding: 10px 0;
            color: $primary-text-color;
            font-size: 20px;
            width: 100%;
            resize: vertical;
            height: 100px;
            max-height: 200px;
            min-height: 50px;
            font-weight: light;
            line-height: 1.01em;
            letter-spacing: 0.04em;
            transition: all $default-transition-duration ease;            
            &:focus {
                border-bottom: 3px solid rgb(199, 187, 190);   
            }
        }
        #contact-submit {
            margin-top: 10px;
            position: absolute;
            bottom: 10px;
            width: calc(100% - 30px);
            cursor: pointer;
            padding: 5px;
            border-top: 1px solid rgb(99, 87, 90);
            border-bottom: 1px solid rgb(99, 87, 90);
            transition: all $default-transition-duration ease;            
            &:focus, &:hover {
                border-bottom: 3px solid rgb(199, 187, 190);   
                border-top: 3px solid rgb(199, 187, 190); 
            }
        }
    }
}

/*
LANGUAGE SWITCHER STYLES
_______________________________
*/
.language-switcher-wrapper {
    position: fixed;
    left: 50px;
    bottom: 50px;
    h2 {
        font-weight: 300;
    }
    .chosen-language {
        padding-top: 10px;
        user-select: none;
        cursor: pointer;
        &:before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            background: $primary-text-color;
            bottom: -7px;
            opacity: 0;
            transition-duration: $default-transition-duration;
            transition-timing-function: $header-timing-function;
        }
        &:hover, &:focus {
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: $primary-text-color;
                bottom: -3px;
                opacity: 1;
                transition-duration: $default-transition-duration;
                transition-timing-function: $header-timing-function;
            }
        }
    }
    .language-list-hidden {
        opacity: 0;
        display: none;
        h2 {
            padding: 10px 0;
        }
    }
    .language-list-shown {
        display: block;
        animation: slide-in-blurred-bottom-small $default-transition-duration ease;
        h2 {
            padding: 10px 0;
        }
    }
    .language-list-hidden, .language-list-shown {
        h2 {
            font-size: 20px;
            opacity: 0.7;
            transition: all $default-transition-duration ease;
            &:hover {
                opacity: 1;
            }
        }
    }
}

/*
ARROW SWITCHER STYLES
_______________________________
*/
.down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(100px) scaleY(1.1) scaleX(0.2);
            transform: translateY(100px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom-small {
  0% {
    -webkit-transform: translateY(5px) scaleY(1.1) scaleX(0.2);
            transform: translateY(5px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top-small {
  0% {
    -webkit-transform: translateY(-5px) scaleY(1.1) scaleX(0.2);
            transform: translateY(-5px) scaleY(1.1) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

